<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HandsOn</title>
    <style>
        body{
            background-color: rgb(6, 252, 137);
        }
    </style>
</head>
<body>
    <form action="/success" method="post">
        <label for="cus_name">CustomerName:</label>
        <input type="text" name="username" id="cus_name">
        <label for="cus_email">Email:</label>
        <input type="email" name="useremail" id="cus_email">
        <label for="cus_time">Call At:</label>
        <input type="time" name="usertime" id="cus_time">
        <button>Submit</button>
    </form>
</body>
</html>